
   .p-steps .p-steps-item.p-highlight .p-steps-number {
    background: #008000;
    color: #ffffff;
}  

 /* .p-state-complete .p-steps-number{
    background-color: green !important;
}   */

/* .p-steps-number{
    background: #008000;
    color: #ffffff;
}  */